# Observations and Insights

In [26]:
#import library dependencies and setup file
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

#research study files
mouse_metadata = "data/Mouse_metadata.csv"
study_results = "data/Study_results.csv"

#read research data to analyze the study results
mouse_data = pd.read_csv(mouse_metadata)
results = pd.read_csv(study_results)

#Combine the data tables into a single dataset
pyarm_data = pd.merge(mouse_data, results, how="left", on=["Mouse ID","Mouse ID"])

In [27]:
pyarm_data

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [28]:
#Calculate the number of mice in the DataFrame
mice = len(pyarm_data["Mouse ID"].unique())

In [29]:
mice

249

In [30]:
#Calculate the duplicate mice by ID number that shows up for Mouse ID and Timepoint
timepoints = pyarm_data["Mouse ID"].count()

In [31]:
timepoints

1893

In [32]:
#Find all the data for the duplicate mouse ID
duplicate = pyarm_data.loc[pyarm_data.duplicated(subset=['Mouse ID', 'Timepoint',]),'Mouse ID'].unique()

In [33]:
duplicate

array(['g989'], dtype=object)

In [34]:
#Build DataFrame by dropping the duplicate mouse by its ID
study = pyarm_data[pyarm_data['Mouse ID'].isin(duplicate)==False]

In [35]:
study

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [39]:
#Find the number of mice in the clean DataFrame
micecount = study["Mouse ID"].count()

In [37]:
micecount

1880

## Summary Statistics

In [68]:
#Calculalte and place mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
study_summary = study.groupby('Drug Regimen').agg(Mean=('Tumor Volume (mm3)','mean'),
                                                  Median=('Tumor Volume (mm3)','median'),
                                                  Variance=('Tumor Volume (mm3)','var'),
                                                  StandardDeviation=('Tumor Volume (mm3)','std'),
                                                  SEM=('Tumor Volume (mm3)','sem'))

#rename column and update format of summary statistics table
study_summary.rename(columns={'StandardDeviation':'Standard Deviation'}).style.set_properties(**{'text-align':'left'})

## Bar Plots

In [ ]:


# Generate a bar plot showing the number of mice per time point for each treatment throughout the course of the study using pandas.

In [ ]:

# Generate a bar plot showing the number of mice per time point for each treatment throughout the course of the study using pyplot.

## Pie Plots

In [ ]:


# Generate a pie plot showing the distribution of female versus male mice using pandas

In [ ]:

# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [ ]:


# Calculate the final tumor volume of each mouse across four of the most promising treatment regimens. Calculate the IQR and quantitatively determine if there are any potential outliers.

In [ ]:


# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [ ]:


# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [ ]:

# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [ ]:

# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen